numpy==2.4.3
opencc-python-reimplemented==0.1.7
opencv-python==4.13.0.90
Pillow==12.1.1
PyDirectInput==1.0.4
pynput==1.8.1
pywin32==311
rapidocr-onnxruntime==1.4.4
windows-capture==1.5.0
requests==2.32.3
beautifulsoup4==4.12.3